RewriteEngine On

RewriteBase /alibot-api/api/

# Si el archivo o directorio existe, no hace nada
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirige el resto a index.php (o index.html si quieres)
RewriteRule ^ index.php [QSA,L]
